$green-500: #4caf50 !default;
.defaultGreen{
	background: rgba(76,175,80,0.4)!important;
}
.xy-none-border{
	border: none!important;
}

//标题超出长度省略
.xy-title-hidden{
	max-width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

//标题左边框加粗
.borderLeft-bold{
	border-left: 4px solid #66BB6A;
	line-height: 20px;
}

//禁止滚动穿透
.scroll_open{
	position: fixed;
	width: 100%;
	height: 100%;
}

/*自定义表格*/
.xy-tableItem {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.xy-borderB {
	border-bottom: 1px solid #ccc;
}
 .xy-borderB:hover{
	  background: #FAFAFA;
  }
  .xy-border-circle{
  	border-top-left-radius: 3px; 
  	border-top-right-radius: 3px;
  }
  
  
 /*回到顶部-悬浮按钮样式*/
  .xy-suspend{
	  background: #4CAF50;
	  position: fixed;
	  right: 10px;
	  bottom: 10px;
	  z-index: 2;
  }

/*自定义输入框*/
.xy-input {
	width: 100px!important;
	border: 1px solid;
	border-radius: 3px;
	background: none;
	padding: 4px 4px 4px 10px;
}

.xy-input:focus {
	outline: 0;
}

.xy-input-disable{
	width: 100px!important;
	border-radius: 3px;
	background: none;
	padding: 4px 4px 4px 10px;
	border: 1px solid #D7CCC8;
	color:#D7CCC8;
}